/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.clear {
	clear:both;
}
.homepage .page-boxed .page-header.navbar {
	display: none;
}
/*overview*/
.admin .container {
    width: 100%;
	padding: 0;
}
.admin .page-header.navbar .page-top,
.admin .page-header.navbar .page-logo {
	background: #054C62;
}
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.admin .page-sidebar,
.admin.page-boxed .page-container {
	background: #f1f3fa;
}.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li {
	margin: 5px;
}
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li {
	border: 0 none;
    background:  #0CA7D3;
    color: #fff;
}
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li:hover,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li:hover,
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a:hover,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li > a:hover {
	background: #0A99C3;
}
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact .sub-menu > li > a:hover,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact .sub-menu > li > a:hover {
	background: #0083AD !important;
}
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li > a {
	border: 0 none;
	background:0 none;
}
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a > i,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li > a > i,
.admin .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a > span:before,
.admin .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li > a > span:before {
	color: #fff;
}
.homepage.page-boxed {
	background: #eff3f8 !important;
}
.homepage .page-container-bg-solid .page-content {
	background: #fff;
}
.admin.page-boxed {
	background: #fff !important;
}
.sr-only {
	position: relative;
}
.theoverviewitem .progress.dmonitorbar {
	height: initial;
}
.theoverviewitem .progress.dmonitorbar > .progress-bar {
	height: 50px;
	padding: 15px 0;
}
.dmonitorbar > .even {
	background-color: #0084AB;
}
.dmonitorbar > .odd {
	background-color: #044C62;
}
input[type="submit"] {
	background: #2386ca;
    color: #fff;
    border: 0 none;
    padding: 10px 20px;
    font-weight: lighter;
    text-transform: uppercase;
}
ul.candidlist {
	margin: 0;
	padding: 0;
}
ul.candidlist li {
	width: 24%;
	display: inline-block;
	margin-bottom: 3px;
}
ul.candidlist li a {
    padding: 5px 15px;
    background: #3598DC;
    display: block;
    color: #fff;
	font-size: 15px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-radius: 0;
}
ul.candidlist li a:hover{
	text-decoration: none;
	/*background: #7E919E;*/
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-radius: 120px 0 0 0;
}
.dbacklink {
	margin-bottom: 25px;
}
.thehomeright {
	text-align: right;
}
.thelogo h3 > span {
	font-weight: bold;
    text-transform: uppercase;
    color: #DB272A;
    border-right: 2px solid #2991D9;
    padding-right: 5px;
    margin-right: 2px;
    vertical-align: top;
}
.maincontainer .form-body .panel-primary,
.maincontainer .form-body .panel-primary > .panel-heading,
.dprofstyle .panel-primary,
.dprofstyle .panel-primary > .panel-heading{
	border-radius: 0;
}
.themaincontetn {
	margin-bottom: 25px;
}
